.Application{
    display: flex;
    width:100%;
    justify-content: space-around;
    border-top: 1px solid lightblue;
    
}


@media screen and(max-width:480px) {
    .Application{
        display: flex;
        align-items: center;
        flex-direction:column;
        flex-wrap:wrap;
        justify-content: space-around;
    }
    
}




    
